/*
Author: Hannah Whisenant
Date: 11/6/2025
File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, section, article, aside, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Style rules for body and images */
body {
	background-color: #fff;
}

img, video {
	max-width: 100%;
	display: block;
}

/* Style rule for box sizing applies to all elements */
*{
	box-sizing: border-box;
}

/* Style rules for mobile viewport */

/* Style rules for header */
header {
	top: 0;
	position: sticky;
	z-index: 1000;
	background-color: #FCFBF8;
	height: 130px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
	font-family:"lubaline", "sans serif";
	font-weight: 100;
	text-shadow: 5px 5px 8px #ccc;
}

header img {
	margin: 0 auto;
	width: auto;
	height: 40px;
}

header h4 {
	color: #7D8C84;
	font-weight: 200;
	font-family: fiona, sans-serif;
	font-style: normal;
	margin: 0;
}

/* Style rules for navigation area */
nav {
	width: 100%;
	float: none;
	align-items: center;
}

nav ul {
	list-style-type: none;
	text-align: center;
}

nav li {
	display: block;
	margin-right: 15%;
	margin-left: 15%;
	margin-top: 5%;
	padding-top: 5%;
	border-top: 1px dotted #7D8C84;
}

nav li:first-child {
	border-top: none;
	margin-top: 1%;
}

nav li:hover {
	opacity: 70%;
}

nav li a {
	color: #7D8C84;
	text-align: center;
	text-decoration: none;
	font-family: "bebas-neue-by-fontfabric", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 2em;
}

/* Show mobile class, hide tablet-desktop class */
.mobile {
	display: block;
}

.tablet-desktop {
	display: none;
}

/* Style rules for main content */
main {
	margin: 5%;
}

main h1 {
	font-family: fiona, sans-serif;
	font-weight: 600;
	font-style: normal;
	color: #64563C;
	text-align: center;
}

main h2 {
	font-family: fiona, sans-serif;
	font-weight: 600;
	font-style: normal;
	color: #64563C;
	text-align: center;
}

main h3 {
	font-family: fiona, sans-serif;
	font-weight: 600;
	font-style: normal;
	color: #64563C;
	text-align: center;
}

main p {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-style: normal;
	text-align: center;
}

main img {
	max-width: 100%;
	height: auto;
}

main img:hover {
	filter: brightness(80%);
}

/* Style Rules for Home: Download Help Section*/

aside {
	border-top: 5px solid #504530;
	border-bottom: 5px solid #504530;
}

.help-grid {
	display: grid;
	grid-template-columns: 50px auto;
	width: auto;
	aspect-ratio: 1/1;
	padding: 5%;
	grid-gap: 15px;
	text-align: center;
	align-items: center;
}

.one {
	color: #504530;
	font-family: "lubaline", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2.5em;
}

.two {
	color: #504530;
	font-family: "lubaline", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2.5em;
}

.three {
	color: #504530;
	font-family: "lubaline", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2.5em;
}

.four {
	color: #504530;
	font-family: "lubaline", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2.5em;
}

.onetxt {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: .75em;
}

.twotxt {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: .75em;
}

.threetxt {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: .75em;
}

.fourtxt {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: .75em;
}

/* Style rules for Wardrobe: List Element */
.wardrobe-grid {
	display: grid;
	grid-template-columns: 1fr 1fr ;
	gap: 5%;
	padding-bottom: 15%;
}

.wardrobe {
	position: relative;
	font-family: "bebas-neue-by-fontfabric", sans-serif;
	font-weight: 100;
	font-style: normal;
	display: block;
}

.pic-text {
	position: absolute;
	bottom: 0;
	color: #FFF;
	width: 100%;
	text-align: center;
	font-family: fiona, sans-serif;
	font-style: normal;
	font-weight: bold;
	background-color: #504530;
	border-top: 3px solid #FFF;
	letter-spacing: 5px;
}

.frame {
	position: relative;
	max-width: 100%;
	margin: 2% auto;
}

/* Style rules for Creators: Images */
.creatorlogos {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;	
	align-items: center;
	gap: 3%;
}

.creator1 {
	border-radius: 30px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.creator2 {
	border-radius: 30px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.creator3 {
	border-radius: 70px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.creator4 {
	border-radius: 30px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.creator5 {
	border-radius: 30px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/*Style Rules for Creators: Text */
.creatortext h3{
	font-size: 2em;
	margin-bottom: 0;
	font-family: "bebas-neue-by-fontfabric", sans-serif;
	font-style: normal;
	font-size: 2em;
	border-bottom: 3px solid #7d8c84;
}
.creatortext p{
	padding: 7%;
}

/*Style rules for Index*/
article h3 {
	text-align: center;
}

article p {
	margin: 5%;
}
article:nth-of-type(2){
	background-color: #f2efe9;
}

/*Style rules for Contact Us*/
.tel-link {
	background-color: rgb(34,34,34);
	padding: 5%;
	margin: 5% auto;
	width: 80%;
	text-align: center;
	border-radius: 30px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.tel-link a {
	color: #fff;
	text-decoration:none;
	font-family: "bebas-neue-by-fontfabric", sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size: 1.5em;
	letter-spacing: 4px;
}

.tel-link:hover {
	filter: opacity(70%);
}

.contact-email-link {
	color: #577c85;
	text-decoration: none;
	padding: 5%;
}

.map {
	width: 100%;
	height: 50%;
}

.map-container {
	border: 3px solid #000;
}

/* Style rules for form elements */
fieldset, input, select, textarea {
	margin-bottom: 2%;
}

fieldset legend {
	font-weight: bold;
	font-size: 1.25em;
}

label {
	display: block;
	padding-top: 3%;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-style: normal;
}

#reference {
	font-family: "Roboto", sans-serif;
}

form #submit {
	margin: 0 auto;
	border: none;
	display: block;
	padding: 3%;
	background-color: #504530;
	font-size: 2em;
	border-radius: 30px;
	color: white;
	width: 80%;
	font-family: "bebas-neue-by-fontfabric", sans-serif;
	font-style: normal;
}

#form h2 {
	font-family: "bebas-neue-by-fontfabric", sans-serif;
	font-style: normal;
	font-size: 2em;
}

legend {
	font-family: "bebas-neue-by-fontfabric", sans-serif;
	font-style: normal;
}
	
/* Style rules for footer content */
footer p {
	font-size: 0.75em;
	text-align: center;
	color: black;
	padding: 0 1em;
}

footer p a {
	color: black;
	text-decoration: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {
	
	/* Tablet Viewport: Show tablet-desktop class, hide mobile class */
	.tablet-desktop {
		display: block;
	}
	
	.mobile{
		display: none;
	}
	
	/* Tablet Viewport: Style rule for header */
	header {
		padding-bottom: 2%;
		height: 160px;
	}

	header h1 {
		font-size: 3em;
		float: right;
	}

	header h4 {
		font-size: 1.2em;
	}
	
	/* Tablet Viewport: Style rules for nav area */
	nav li {
		border-top: none;
		display: inline-block;
		padding: 2%;
		margin: 2% auto;
		background-color: #504530;
		width: 24%;
		border-radius: 30px;
		max-width: 100%;
	}

	nav {
		text-align: center;
		width: 100%;
		font-size: 1.25em;
		background-color: #fff;
	}

	nav ul a {
		color: white;
	}
	
	nav li a:hover {
		color: #000;
		background-color: #fff;
	}

	/* Tablet Viewport: Style rules for main content area */
	main h2 {
		font-size: 2.5em;
	}

	main h3 {
		font-size: 2em;
	}

	main p {
		font-size: 1.5em;
	}

	.contact-email-link {
		max-width: 100%;
		font-size: 2em;
		padding: 13%;
	}
	
	.creatorlogos {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;	
	align-items: center;
	gap: 10%;
	}

	/* Tablet Viewport: Style rules for hero image */
	#hero {
		margin: 0% 0% 0% 0%;
		position: relative;
	}
	
	.hero {
		display: block;
		width: 100%;
		height: auto;
		margin: 0% 0%;
		filter: brightness(50%);
	}

	.hero:hover {
		filter: brightness(30%);
	}
	
	.hero-text {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 90%;
		transform: translate(-50%, -50%);
	}
	
	.hero-text h3 {
		font-family: fiona, sans-serif;
		font-weight: 600;
		font-style: normal;
		color: #FFF;
		text-shadow: 30px 30px 30px black;
		font-size: 3em;
	}

	/* Style Rules for Tablet Viewport: Home*/
	.help-grid {
		display: grid;
		grid-template-columns: 90px auto;
		font-size: 2.5em;
		column-gap: 5%;
		width: auto;
		aspect-ratio: 1/1;
		align-items: center;
		padding-left: 7%;
	}
	.grid {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 20px;
	}

	aside {
		grid-column: span 3;
		background: linear-gradient(to bottom, #f2efe9, #fff);
	}

	.frame {
		width: 100%;
		margin: 0%;
	}

	.frame img {
		width: 100%;
	}
	
	.frame:hover {
		opacity: 1;
		box-shadow:8px 8px 10px #808080;
	}

	.tel-num {
		font-size: 1.25em;
	}

	/* Tablet Viewport: Style rules for Contact Form */
	form {
		display: grid;
		grid-template-columns: auto auto;
		width: 100%;
		margin: 0 auto;
	}

	form #submit {
		grid-column: span 2;
		margin: 2% auto;
	}

	/*Tablet Viewport: Style rules for footer*/
	footer p {
		font-size: 1.25em;
	}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px), print {
	
	/* Desktop Viewport: Style rule for header */
	header {
		width: 100%;
		padding-bottom: 0;
		font-size: 1.25em;
		height: 190px;
	}
	
	/* Desktop Viewport: Style rules for nav area */
	
	
	/* Desktop Viewport: Style Rules for main content */
	main {
		clear: left;
	}
	
	main h1 {
		font-size: 1.8em;
	}
	
	.pic-text {
		font-size: 1.5em;
	}
	
	
	
}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px) {
	
	#container {
		width: 1920px;
		margin: 0 auto;
	}
	
	table {
		width: 80%;
	}
	
}

/* Media Query for Print */
@media print {
	
	body {
		background-color: #fff;
		color: #000;
	}
	
}
	
	